body{font-size:12px;color:#333; background:#fff;font-family:Tahoma,Geneva,sans-serif,'宋体'; min-width:1200px;}
.shiwu{ color:#BFB5AD; line-height:26px; clear:both; overflow:hidden; margin:55px 0 20px; padding-bottom:20px; border-bottom:1px dashed #b2b2b2; font-family:"微软雅黑";}
.shiwu{line-height:26px; font-size:14px; padding:30px 40px 25px 40px; color:#555555;} 
.shiwu{text-indent:2em;}
.shiwu p img{ padding:10px;}



